@media screen and (max-width: 920px) {
	#wrapmenu {
		height: 100px;
	}
		
	ul#menu {
		float: left;		
	}
	
	#wrapbanner {
		margin-top: 30px;
		width: auto;
	}	
	
	#wrap {
		//width: auto;
		min-height: 650px;
	}
}